<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @medic.name %>
</p>

<p>
  <strong>Address:</strong>
  <%= @medic.address %>
</p>

<p>
  <strong>Phone:</strong>
  <%= @medic.phone %>
</p>

<p>
  <strong>Coord:</strong>
  <%= @medic.coord %>
</p>

<p>
  <strong>Price:</strong>
  <%= @medic.price %>
</p>

<p>
  <strong>Schedule:</strong>
  <%= @medic.schedule %>
</p>

<p>
  <strong>Speciality:</strong>
  <%= @medic.speciality %>
</p>

<p>
  <strong>Email:</strong>
  <%= @medic.email %>
</p>

<p>
  <strong>Experience:</strong>
  <%= @medic.experience %>
</p>

<p>
  <strong>Score:</strong>
  <%= @medic.score %>
</p>

<p>
  <strong>City:</strong>
  <%= @medic.city %>
</p>

<%= link_to 'Edit', edit_medic_path(@medic) %> |
<%= link_to 'Back', medics_path %>
